<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <title>Vault09</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="stylesheet" href="static/style.css">
</head>
<body style="justify-items: center;">
    <header>
        <a href="/"><img src="static/logo.png" class="logo"></a>
        <div class="nav-btn">
            <a class="login-btn" href="/">Home</a>
        </div>
    </header>

    <div class="about">
        <div class="welcome">
            Welcome to Vault09!
        </div>
        
        <div class="sent">
            Vault09 is an application designed to provide secure and reliable file storage for users seeking to protect their valuable data. With Vault09, your files remain completely secure, even in the event of a system compromise.
        </div>

        <div class="sent">
            At Vault09, we understand the importance of data privacy. That's why we utilize the Advanced Encryption Standard, known for its exceptional security features.
        </div>

        <div class="sent">
            We believe in providing a seamless and hassle-free user experience. Vault09 operates locally on your machine, leveraging Docker to ensure efficient and reliable performance.
        </div>
        <div class="sent">
            Protecting your data is our top priority. Vault09 adheres to a strict security protocol, ensuring that your encryption passwords and hashes are never stored. By adopting this approach, we eliminate any potential risks of unauthorized access, guaranteeing that only you can decrypt your data.
        </div>
        <div class="sent">
            Vault09 embraces diversity by supporting encryption for all file types. Whether it's documents, images, videos, or any other file format, you can rely on Vault09 to encrypt and secure your files effectively.
        </div>

        <div class="end">
            Protect your files and enjoy the peace of mind that comes with Vault09.
        </div>

        <a class="body-btn" href="https://github.com/TheAlpha16/Vault09" style="margin-bottom: 20px;">Get Vault09</a>
    </div>
</body>
</html>
